@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

   a, p, button, h1, h2, h3{

    font-family: "Montserrat", sans-serif;
    color: rgb(91, 208, 255);
   }
   header{
    height: 8vh;
    padding: 0px 10%;
    display: flex;
    justify-content: space-between;
   }
   nav{
      height: 100%;

      display: flex;
      gap: 20px;
      align-items: center;
   }